# Appendix: Python Language Essentials

In [113]:
from __future__ import division
from numpy.random import randn
import numpy as np
import os
import matplotlib.pyplot as plt
np.random.seed(12345)
plt.rc('figure', figsize=(10, 6))
from pandas import *
import pandas
np.set_printoptions(precision=4)

ModuleNotFoundError: No module named 'numpy'

## The Python interpreter

```
$ python
Python 2.7.2 (default, Oct  4 2011, 20:06:09)
[GCC 4.6.1] on linux2
Type "help", "copyright", "credits" or "license" for more information.
>>> a = 5
>>> print a
5
```

In [ ]:
%%writefile hello_world.py
print 'Hello world'

```
$ ipython
Python 2.7.2 |EPD 7.1-2 (64-bit)| (default, Jul  3 2011, 15:17:51)
Type "copyright", "credits" or "license" for more information.

IPython 0.12 -- An enhanced Interactive Python.
?         -> Introduction and overview of IPython's features.
%quickref -> Quick reference.
help      -> Python's own help system.
object?   -> Details about 'object', use 'object??' for extra details.

In [1]: %run hello_world.py
Hello world

In [2]:
```

## The Basics

### Language Semantics

#### Indentation, not braces

In [144]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

for x in array:
    if x < pivot:
        less.append(x)
    else:
        greater.append(x)

for x in array {
        if x < pivot {
            less.append(x)
        } else {
            greater.append(x)
        }
    }

for x in array
    {
      if x < pivot
      {
        less.append(x)
      }
      else
      {
        greater.append(x)
      }
    }

a = 5; b = 6; c = 7

#### Everything is an object

#### Comments

In [ ]:
results = []
for line in file_handle:
    # keep the empty lines for now
    # if len(line) == 0:
    #   continue
    results.append(line.replace('foo', 'bar'))

#### Function and object method calls

In [ ]:
result = f(x, y, z)
g()

In [ ]:
#이름을 붙이는 이유는 계속 쓰려고

In [ ]:
obj.some_method(x, y, z)

In [ ]:
result = f(a, b, c, d=5, e='foo')

#### Variables and pass-by-reference

In [ ]:
a = [1, 2, 3]

In [ ]:
b = a

In [ ]:
a.append(4)
b

In [ ]:
def append_element(some_list, element):
    some_list.append(element)

In [ ]:
data = [1, 2, 3]

append_element(data, 4)

In [4]: data
Out[4]: [1, 2, 3, 4]

#### Dynamic references, strong types

In [ ]:
from IPython.core.interactiveshell import InteractiveShell

In [ ]:
InteractiveShell.ast_node_interactivity = 'all'

In [ ]:
a = 5
type(a)
a = 'foo'
type(a)

In [ ]:
'5' + 5

In [ ]:
a = 4.5
b = 2
# String formatting, to be visited later
print 'a is %s, b is %s' % (type(a), type(b))
a / b

In [ ]:
a = 5
isinstance(a, int)

In [ ]:
a = 5; b = 4.5
isinstance(a, (int, float))
isinstance(b, (int, float))

#### Attributes and methods

In [1]: a = 'foo'

In [2]: a.<Tab>
a.capitalize  a.format      a.isupper     a.rindex      a.strip
a.center      a.index       a.join        a.rjust       a.swapcase
a.count       a.isalnum     a.ljust       a.rpartition  a.title
a.decode      a.isalpha     a.lower       a.rsplit      a.translate
a.encode      a.isdigit     a.lstrip      a.rstrip      a.upper
a.endswith    a.islower     a.partition   a.split       a.zfill
a.expandtabs  a.isspace     a.replace     a.splitlines
a.find        a.istitle     a.rfind       a.startswith

>>> getattr(a, 'split')
<function split>

#### "Duck" typing

In [ ]:
def isiterable(obj):
    try:
        iter(obj)
        return True
    except TypeError: # not iterable
        return False

In [ ]:
isiterable('a string')
isiterable([1, 2, 3])
isiterable(5)

if not isinstance(x, list) and isiterable(x):
    x = list(x)

#### Imports

In [ ]:
# some_module.py
PI = 3.14159

def f(x):
    return x + 2

def g(a, b):
    return a + b

In [ ]:
import some_module
result = some_module.f(5)
pi = some_module.PI

In [ ]:
from some_module import f, g, PI
result = g(5, PI)

In [ ]:
import some_module as sm
from some_module import PI as pi, g as gf

r1 = sm.f(pi)
r2 = gf(6, pi)

#### Binary operators and comparisons

In [ ]:
5 - 7
12 + 21.5
5 <= 2 #=<는 안됩니다.

In [ ]:
a = [1, 2, 3]
b = a
# Note, the list function always creates a new list
c = list(a)
a is b # is 는 ==와 같다.
a is not c

In [ ]:
a == c

In [ ]:
a = None
a is None

#### Strictness versus laziness == 그때그때 처리하기 vs 나중에 한꺼번에 처리하기.

In [ ]:
a = b = c = 5
d = a + b * c

#### Mutable and immutable objects

In [ ]:
a_list = ['foo', 2, [4, 5]]
a_list[2] = (3, 4)
a_list

In [ ]:
a_tuple = (3, 5, (4, 5))
a_tuple[1] = 'four'

### Scalar Types

#### Numeric types

In [1]:
ival = 17239871
ival ** 6

26254519291092456596965462913230729701102721

In [2]:
fval = 7.243
fval2 = 6.78e-5

In [3]:
3 / 2

1.5

In [4]:
from __future__ import division

In [5]:
3 / float(2)

1.5

In [6]:
3 // 2 # 정수나눗셈

1

In [7]:
cval = 1 + 2j
cval * (1 - 2j)

(5+0j)

#### Strings

In [8]:
a = 'one way of writing a string'
b = "another way"

In [11]:
c = """  
This is a longer string that
spans multiple lines
"""
#"""은 라인 정리하려고 씀

' \nThis is a longer string that\nspans multiple lines\n'

In [10]:
a = 'this is a string'
a[10] = 'f'
b = a.replace('string', 'longer string')
b

TypeError: 'str' object does not support item assignment

In [13]:
a = 5.6
s = str(a)
s

'5.6'

In [14]:
s = 'python'
list(s)
s[:3]

'pyt'

In [16]:
s = '12\\34'
print(s)

12\34

In [17]:
s = r'this\has\no\special\characters'
s

'this\\has\\no\\special\\characters'

In [18]:
a = 'this is the first half '
b = 'and this is the second half'
a + b

'this is the first half and this is the second half'

In [19]:
template = '%.2f %s are worth $%d'

In [20]:
template % (4.5560, 'Argentine Pesos', 1)

'4.56 Argentine Pesos are worth $1'

#### Booleans

In [21]:
True and True
False or True

True

In [24]:
a = [1, 2, 3]
if a:
    print('I found something!')

b = []
if not b:
    print('Empty!')

I found something!
Empty!

In [25]:
bool([]), bool([1, 2, 3])
bool('Hello world!'), bool('')
bool(0), bool(1)

(False, True)

#### Type casting

In [30]:
s = '3.14159'
fval = float(s)
type(fval)
int(fval)
bool(fval)
bool(0)

False

#### None

In [32]:
a = None
a is None
b = 5
b is not None

True

In [33]:
def add_and_maybe_multiply(a, b, c=None):
    result = a + b

    if c is not None:
        result = result * c

    return result

#### Dates and times

In [35]:
from datetime import datetime, date, time
dt = datetime(2011, 10, 29, 20, 30, 21)
dt.day
dt.minute

30

In [36]:
dt.date()
dt.time()

datetime.time(20, 30, 21)

In [37]:
dt.strftime('%m/%d/%Y %H:%M')

'10/29/2011 20:30'

In [38]:
datetime.strptime('20091031', '%Y%m%d')

datetime.datetime(2009, 10, 31, 0, 0)

In [39]:
dt.replace(minute=0, second=0)

datetime.datetime(2011, 10, 29, 20, 0)

In [40]:
dt2 = datetime(2011, 11, 15, 22, 30)
delta = dt2 - dt
delta
type(delta)

datetime.timedelta

In [41]:
dt
dt + delta

datetime.datetime(2011, 11, 15, 22, 30)

### Control Flow

#### If, elif, and else

In [45]:
if x < 0:
    print 'It's negative'

SyntaxError: invalid syntax (<ipython-input-45-691187ccc35e>, line 2)

In [ ]:
if x < 0:
    print 'It's negative'
elif x == 0:
    print 'Equal to zero'
elif 0 < x < 5:
    print 'Positive but smaller than 5'
else:
    print 'Positive and larger than 5'

In [46]:
a = 5; b = 7
c = 8; d = 4
if a < b or c > d:
    print ('Made it')

Made it

#### For loops

In [47]:
for value in collection:
    # do something with value

SyntaxError: unexpected EOF while parsing (<ipython-input-47-a4d957e1ca31>, line 2)

In [48]:
sequence = [1, 2, None, 4, None, 5]
total = 0
for value in sequence:
    if value is None:
        continue
    total += value

In [49]:
sequence = [1, 2, 0, 4, 6, 5, 2, 1]
total_until_5 = 0
for value in sequence:
    if value == 5:
        break
    total_until_5 += value

In [50]:
for a, b, c in iterator:
    # do something

SyntaxError: unexpected EOF while parsing (<ipython-input-50-83e0921527b1>, line 2)

In [54]:
values= [(1,2),(3,4),(10,20)]

In [55]:
for value in values:
    print(value)

(1, 2)
(3, 4)
(10, 20)

In [59]:
for (k, v) in values:
    print('key: %d, value: %d' %(k,v))

key: 1, value: 2
key: 3, value: 4
key: 10, value: 20

While loops

In [51]:
x = 256
total = 0
while x > 0:
    if total > 500:
        break
    total += x
    x = x // 2

#### pass

In [52]:
if x < 0:
    print 'negative!'
elif x == 0:
    # TODO: put something smart here
    pass
else:
    print 'positive!'

SyntaxError: Missing parentheses in call to 'print'. Did you mean print('negative!')? (<ipython-input-52-08c49c52ae06>, line 2)

In [ ]:
def f(x, y, z):
    # TODO: implement this function!
    pass

#### Exception handling

In [ ]:
float('1.2345')
float('something')

In [ ]:
def attempt_float(x):
    try:
        return float(x)
    except:
        return x

In [ ]:
attempt_float('1.2345')
attempt_float('something')

In [ ]:
float((1, 2))

In [ ]:
def attempt_float(x):
    try:
        return float(x)
    except ValueError:
        return x

In [ ]:
attempt_float((1, 2))

In [ ]:
def attempt_float(x):
    try:
        return float(x)
    except (TypeError, ValueError):
        return x

In [ ]:
f = open(path, 'w')

try:
    write_to_file(f)
finally:
    f.close()

In [ ]:
f = open(path, 'w')

try:
    write_to_file(f)
except:
    print 'Failed'
else:
    print 'Succeeded'
finally:
    f.close()

#### range and xrange

In [ ]:
range(10)

In [ ]:
range(0, 20, 2)

In [ ]:
seq = [1, 2, 3, 4]
for i in range(len(seq)):
    val = seq[i]

In [ ]:
sum = 0
for i in xrange(10000):
    # % is the modulo operator
    if i % 3 == 0 or i % 5 == 0:
        sum += i

#### Ternary Expressions

In [ ]:
x = 5
value = 'Non-negative' if x >= 0 else 'Negative'

## Data structures and sequences

### Tuple

In [60]:
tup = 4, 5, 6
tup

(4, 5, 6)

In [61]:
nested_tup = (4, 5, 6), (7, 8)
nested_tup

((4, 5, 6), (7, 8))

In [62]:
tuple([4, 0, 2])
tup = tuple('string')
tup

('s', 't', 'r', 'i', 'n', 'g')

In [63]:
tup[0]

's'

In [64]:
tup = tuple(['foo', [1, 2], True])
tup[2] = False

# however
tup[1].append(3)
tup

TypeError: 'tuple' object does not support item assignment

In [65]:
(4, None, 'foo') + (6, 0) + ('bar',)

(4, None, 'foo', 6, 0, 'bar')

In [66]:
('foo', 'bar') * 4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

#### Unpacking tuples

In [ ]:
tup = (4, 5, 6)
a, b, c = tup # 튜플의 값이 순서대로 들어간다.
b

In [ ]:
tup = 4, 5, (6, 7)
a, b, (c, d) = tup
d

tmp = a
a = b
b = tmp

b, a = a, b # 튜플의 값을 바꿀때 이렇게만 해주면된다. temp같은거 필요없엉.


seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
for a, b, c in seq:
    pass

#### Tuple methods

In [67]:
a = (1, 2, 2, 2, 3, 4, 2)
a.count(2)

4

In [68]:
dir(a)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [69]:
a.index(3)

4

### List

In [70]:
a_list = [2, 3, 7, None]

tup = ('foo', 'bar', 'baz')
b_list = list(tup)
b_list
b_list[1] = 'peekaboo'
b_list

['foo', 'peekaboo', 'baz']

#### Adding and removing elements

In [71]:
b_list.append('dwarf')
b_list

['foo', 'peekaboo', 'baz', 'dwarf']

In [72]:
b_list.insert(1, 'red')
b_list

['foo', 'red', 'peekaboo', 'baz', 'dwarf']

In [73]:
b_list.pop(2)
b_list

['foo', 'red', 'baz', 'dwarf']

In [74]:
b_list.append('foo')
b_list.remove('foo')
b_list

['red', 'baz', 'dwarf', 'foo']

In [75]:
'dwarf' in b_list

True

#### Concatenating and combining lists

In [76]:
[4, None, 'foo'] + [7, 8, (2, 3)]

[4, None, 'foo', 7, 8, (2, 3)]

In [77]:
x = [4, None, 'foo']
x.extend([7, 8, (2, 3)])
x

[4, None, 'foo', 7, 8, (2, 3)]

In [78]:
everything = []
for chunk in list_of_lists:
    everything.extend(chunk)

NameError: name 'list_of_lists' is not defined

In [ ]:
everything = []
for chunk in list_of_lists:
    everything = everything + chunk

#### Sorting

In [79]:
a = [7, 2, 5, 1, 3]
a.sort() #list를 정렬한다.
a

[1, 2, 3, 5, 7]

In [80]:
b = ['saw', 'small', 'He', 'foxes', 'six']
b.sort(key=len)
b

['He', 'saw', 'six', 'small', 'foxes']

#### Binary search and maintaining a sorted list

In [89]:
import bisect
c = [1, 2, 2, 2, 3, 4, 7]
bisect.bisect(c, 2) #bisect하면 리스트 안에 잇는 값의 인덱스에 따라 반환
bisect.bisect(c, 5)
bisect.insort(c, 6)
c

[1, 2, 2, 2, 3, 4, 6, 7]

#### Slicing

In [82]:
seq = [7, 2, 3, 7, 5, 6, 0, 1]
seq[1:5]

[2, 3, 7, 5]

In [91]:
prod_code = '20180417multicampus'
prod_date = prod_code[0:8]
prod_name = prod_code[8:]
print(prod_date)
print(prod_name)

20180417
multicampus

In [83]:
seq[3:4] = [6, 3]
seq

[7, 2, 3, 6, 3, 5, 6, 0, 1]

In [84]:
seq[:5]
seq[3:]

[6, 3, 5, 6, 0, 1]

In [85]:
seq[-4:]
seq[-6:-2]

[6, 3, 5, 6]

In [86]:
seq[::2]

[7, 3, 3, 6, 1]

In [87]:
seq[::-1]

[1, 0, 6, 5, 3, 6, 3, 2, 7]

### Built-in Sequence Functions

#### enumerate

In [ ]:
#시퀀스형 자료형(ex. list)을 인덱스를 붙여 차례로 열거하는 함수

i = 0
for value in collection:
   # do something with value
   i += 1

In [ ]:
for i, value in enumerate(collection):
   # do something with value

In [92]:
i = 0
for value in seq:
    i += value


print (i)

33

In [93]:
sum = 0
for i, value in enumerate(seq):
    print(i, value)

0 7
1 2
2 3
3 6
4 3
5 5
6 6
7 0
8 1

In [96]:
i = 0
for value in enumerate(b):
    print(i, value)
    i+=1

0 (0, 'He')
1 (1, 'saw')
2 (2, 'six')
3 (3, 'small')
4 (4, 'foxes')

In [94]:
i = 0
for value in b:
    print(i, value)
    i += 1

0 He
1 saw
2 six
3 small
4 foxes

In [97]:
some_list = ['foo', 'bar', 'baz']
mapping = dict((v, i) for i, v in enumerate(some_list))
mapping

{'foo': 0, 'bar': 1, 'baz': 2}

#### sorted

In [98]:
sorted([7, 1, 2, 6, 0, 3, 2])
sorted('horse race')

[' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']

In [ ]:
sorted(set('this is just some string'))

#### zip

In [99]:
seq1 = ['foo', 'bar', 'baz']
seq2 = ['one', 'two', 'three']
zip(seq1, seq2) #두 개의 시퀀스형 자료형을 병렬적으로 추출하여 하나로 묶는 함수

In [100]:
seq3 = [False, True]
zip(seq1, seq2, seq3)

In [101]:
for i, (a, b) in enumerate(zip(seq1, seq2)):
    print('%d: %s, %s' % (i, a, b))

0: foo, one
1: bar, two
2: baz, three

In [98]:
pitchers = [('Nolan', 'Ryan'), ('Roger', 'Clemens'),
            ('Schilling', 'Curt')]
first_names, last_names = zip(*pitchers)
first_names
last_names

('Ryan', 'Clemens', 'Curt')

In [102]:
list(zip(('Nolan', 'Ryan'), ('Roger', 'Clemens'), ('Schilling', 'Curt') )) #first name과 last name으로 나뉘어 묶입니다.

[('Nolan', 'Roger', 'Schilling'), ('Ryan', 'Clemens', 'Curt')]

In [103]:
zip(seq[0], seq[1], ..., seq[len(seq) - 1])

TypeError: zip argument #1 must support iteration

#### reversed

In [ ]:
list(reversed(range(10)))

### Dict

In [104]:
empty_dict = {}
d1 = {'a' : 'some value', 'b' : [1, 2, 3, 4]}
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [105]:
d1[7] = 'an integer'
d1
d1['b']

[1, 2, 3, 4]

In [106]:
'b' in d1

True

In [115]:
d1[5] = 'some value'
d1['dummy'] = 'another value'
d1
del d1[5]
ret = d1.pop('dummy')
ret

{'a': 'some value',
 'b': 'foo',
 7: 'an integer',
 'c': 12,
 5: 'some value',
 'dummy': 'another value'}

'another value'

In [116]:
d1.keys()
d1.values()

dict_keys(['a', 'b', 7, 'c'])

dict_values(['some value', 'foo', 'an integer', 12])

In [117]:
d1.update({'b' : 'foo', 'c' : 12})
d1

{'a': 'some value', 'b': 'foo', 7: 'an integer', 'c': 12}

#### Creating dicts from sequences

In [118]:
mapping = {}
for key, value in zip(key_list, value_list):
    mapping[key] = value #비어있는 딕셔너리에 키와 값을 동시에 추가

NameError: name 'key_list' is not defined

In [119]:
mapping = dict(zip(range(5), reversed(range(5))))
mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

#### Default values

In [ ]:
if key in some_dict:
    value = some_dict[key]
else:
    value = default_value

In [ ]:
value = some_dict.get(key, default_value)

In [ ]:
mapping[7] #error

In [123]:
mapping.get(7, -1) #만약에 mapping에 7이 없으면 -1을 돌려줘라.
mapping.get(4, -999) #있다면 0를 돌려준다.

-1

0

In [125]:
'apple'[0] #apple의 첫번째는  a.

'a'

In [124]:
words = ['apple', 'bat', 'bar', 'atom', 'book']
by_letter = {}
 
for word in words:
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter] = [word]
    else:
        by_letter[letter].append(word)

by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

by_letter.setdefault(letter, []).append(word)

In [127]:
by_letters = {}
for word in words:
    letter = word[0]
    by_letters.setdefault(letter, []).append(word)
by_letters

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [129]:
from collections import defaultdict
by_letter = defaultdict(list)
for word in words:
    by_letter[word[0]].append(word)

In [130]:
counts = defaultdict(lambda: 4)

In [133]:
counts[1]

4

In [134]:
dict(counts)

{1: 4}

In [135]:
counts[2] = 10
dict(counts)

{1: 4, 2: 10}

#### Valid dict key types

In [ ]:
hash('string')
hash((1, 2, (2, 3)))
hash((1, 2, [2, 3])) # fails because lists are mutable

In [ ]:
d = {}
d[tuple([1, 2, 3])] = 5
d

### Set

In [ ]:
set([2, 2, 2, 1, 3, 3])
{2, 2, 2, 1, 3, 3}

In [ ]:
a = {1, 2, 3, 4, 5}
b = {3, 4, 5, 6, 7, 8}
a | b  # union (or)
a & b  # intersection (and)
a - b  # difference
a ^ b  # symmetric difference (xor)

In [ ]:
a_set = {1, 2, 3, 4, 5}
{1, 2, 3}.issubset(a_set)
a_set.issuperset({1, 2, 3})

In [ ]:
{1, 2, 3} == {3, 2, 1}

### List, set, and dict comprehensions

In [136]:
strings = ['a', 'as', 'bat', 'car', 'dove', 'python']
[x.upper() for x in strings if len(x) > 2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

In [137]:
unique_lengths = {len(x) for x in strings}
unique_lengths

{1, 2, 3, 4, 6}

In [138]:
loc_mapping = {val : index for index, val in enumerate(strings)}
loc_mapping

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}

loc_mapping = dict((val, idx) for idx, val in enumerate(strings)}

#### Nested list comprehensions

In [10]:
#중첩 리스트(nested list)는 다음과 같이 표현하면 된다.
#for i in range(10):
#   for j in range(i):
#       count(i, j)

#=>[[count(i, j) for j in range(i)] for i in range(i)]

#혹시 if문을 쓰고 싶다면...

#[[count(i, j) for j in range(i) if i > 5] for i in range(i)]

#이런식으로 사용하면 된다.

In [1]:
all_data = [['Tom', 'Billy', 'Jefferson', 'Andrew', 'Wesley', 'Steven', 'Joe'],
            ['Susie', 'Casey', 'Jill', 'Ana', 'Eva', 'Jennifer', 'Stephanie']]

In [2]:
#nested를 포함하지 않고 순수히 for loop를 사용한 경우
names_of_interest = []
for names in all_data:
    enough_es = [name for name in names if name.count('e') > 2]
    names_of_interest.extend(enough_es)
    #names_of_interest ==enough_es
names_of_interest

[]

In [3]:
names_of_interest = [name for names in all_data for name in names
                            if name.count('e')>=2]

names_of_interest

['Jefferson', 'Wesley', 'Steven', 'Jennifer', 'Stephanie']

In [ ]:
result = [name for names in all_data for name in names
          if name.count('e') >= 2]
result

In [4]:
#use nested list
some_tuples = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
flattened = [x for tup in some_tuples for x in tup]
flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [7]:
#not nested list
flattened = []

for tup in some_tuples:
    for x in tup:
        flattened.append(x)
        
flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [6]:
#중첩 for loop처럼 동작하는데, 리스트의 리스트를 만드는 형식
In [229]: [[x for x in tup] for tup in some_tuples]

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

## Functions

In [ ]:
#R은 Myfuntion <- function(x, y, z = ~~) 처럼 변수명으로 쓴다.
#Python은  def 함수이름(x,y,z= ~~): 함수 내용 

#first-class citizen? 
#다음과 같은 3가지 조건을 만족하면 first-class citizen(1급객체)이라고 한다.
#1.변수나 데어터에 할당할 수 있어야한다.
#2.객체의 인자로 넘길 수 있어야한다.
#3.객체의 리턴값으로 리턴 할 수 있어야한다.

#R과 python에서는 function도 하나의 first-class citizen으로 봅니다.

In [11]:
def my_function(x, y, z=1.5):  #default값이 있는 것들은 뒤쪽에다가 정렬.
    if z > 1:
        return z * (x + y)
    else:
        return z / (x + y)

In [15]:
my_function(5, 6, z=0.7)
my_function(3.14, 7, 3.5)

35.49

### Namespaces, scope, and local functions

In [16]:
def func():
    a = []
    for i in range(5):
        a.append(i)

In [18]:
func()

In [20]:
a

#변수나 함수의 사용가능 범위를 scope라고 한다.

[]

In [21]:
a = []
def func():
    for i in range(5):
        a.append(i)
        
func()
a
#global변수 & local변수 모두 포함.

[0, 1, 2, 3, 4]

In [23]:
a = None
def bind_a_variable(): 
    #global a
    a = [] #이건 그냥 local a가 되는거임. 위에 global a가 주석처리 되었기에.
bind_a_variable()
print(a)

[]

In [ ]:
def outer_function(x, y, z):
    def inner_function(a, b, c):
        pass #아무일도 안하는 함수나, loop가 있다면 꼭 pass를 입력해주자!
    pass

### Returning multiple values

In [26]:
def f():
    a = 5
    b = 6
    c = 7
    return a, b, c

a, b, c = f()

In [25]:
return_value = f()

In [ ]:
def f():
    a = 5
    b = 6
    c = 7
    return {'a' : a, 'b' : b, 'c' : c}

### Functions are objects

In [32]:

states = ['   Alabama ', 'Georgia!', 'Georgia', 'georgia', 'FlOrIda',
          'south   carolina##', 'West virginia?']

In [33]:
import re  # Regular expression module

def clean_strings(strings):
    result = []
    for value in strings:
        value = value.strip()  
        value = re.sub('[!#?]', '', value) # remove punctuation
        value = value.title()
        result.append(value)
    return result

In [34]:
class_strings

NameError: name 'class_strings' is not defined

In [36]:
In [15]: clean_strings(states)
Out[15]:['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South Carolina',
 'West Virginia']

In [37]:
def remove_punctuation(value):
    return re.sub('[!#?]', '', value)

clean_ops = [str.strip, remove_punctuation, str.title] #string class의 strip함수, title method. 괄호가 없으면 함수.

def clean_strings(strings, ops): 
    result = []
    for value in strings:
        for function in ops:
            value = function(value)
        result.append(value)
    return result

In [38]:
In [22]: clean_strings(states, clean_ops)
Out[22]:['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South Carolina',
 'West Virginia']

In [39]:
In [23]: map(remove_punctuation, states)
Out[23]:['   Alabama ',
 'Georgia',
 'Georgia',
 'georgia',
 'FlOrIda',
 'south   carolina',
 'West virginia']

In [40]:
m= map(remove_punctuation, states)
list(m)
tuple(list(m))

()

### Anonymous (lambda) functions

In [41]:
def short_function(x):
    return x * 2

equiv_anon = lambda x: x * 2

In [43]:
def apply_to_list(some_list, f):
    return [f(x) for x in some_list]

ints= [4, 0, 1, 5, 6]
apply_to_list, short_function
apply_to_list(ints, lambda x: x * 2)

[8, 0, 2, 10, 12]

In [49]:
strings = ['foo', 'card', 'bar', 'aaaa', 'abab']

In [50]:
strings.sort(key=len)
strings

['foo', 'bar', 'card', 'aaaa', 'abab']

In [51]:
strings.sort(key=lambda x: len(set(list(x)))) #sort
strings

['aaaa', 'foo', 'abab', 'bar', 'card']

### Closures: functions that return functions

In [53]:
gv = 10
def print_gv(x):
    gv = 100
    print(x * gv)
    
print_gv(2)
print(gv)

200
10

In [66]:
def make_closure(a):
    
    def closure():
        
        print('I know the secret: %d' % a) #a를 입력받아 출력, closure 특성상 계속 a값이 살아 있습니다.
    
    return closure

cl = make_closure(5)
cl2 = make_closure(10)

In [67]:
cl()
cl2()

I know the secret: 5
I know the secret: 10

In [59]:
def make_watcher():
    have_seen = {} #closure때문에 have_seen이라는 변수가 ,사전이 계속 살아 있을 수 있다.

    def has_been_seen(x):
        if x in have_seen:
            return True
        else:
            have_seen[x] = True #값을 사전에 집어 넣습니다.
            return False

    return has_been_seen

In [60]:
watcher = make_watcher()
vals = [5, 6, 1, 5, 1, 6, 3, 5]
[watcher(x) for x in vals]

[False, False, False, True, True, True, False, True]

In [ ]:
# 만약 closure를 사용하지 않는다면...?

In [61]:
def make_watcher2():
    
    def has_been_seen(x):
        have_seen = {} 
        
        if x in have_seen:
            return True
        else:
            have_seen[x] = True #값을 사전에 집어 넣습니다.
            return False

    return has_been_seen

# - closuer을 호출할때마다, have_seen사전이 초기화 되므로 제대로 된 결과를 얻을 수 없게된답니다!

In [63]:
watcher2 = make_watcher2()
vals = [5, 6, 1, 5, 1, 6, 3, 5]
[watcher2(x) for x in vals]

[False, False, False, False, False, False, False, False]

In [84]:
#closure에서 외부함수의 변수를 일반변수로 사용한 카운터
def make_counter1():
    count = 0
    
    def counter():
        # increment and return the current count
        count += 1
        return count

    return counter

In [85]:
counter1 = make_counter1()

In [86]:
counter1

In [80]:
def make_counter():
    count = [0]
    def counter():
        # increment and return the current count
        count[0] += 1
        return count[0]
    return counter

counter = make_counter()

In [81]:
counter()

1

In [82]:
counter()

2

In [83]:
counter()

3

In [68]:
def format_and_pad(template, space): #문자열 출력하는데 틀을 template로 준다.
    def formatter(x):
        return (template % x).rjust(space) #rjust는 space만큼 공간주고 정렬
    #closure가 없다면 매번 위의 return문을 써야한다.

    return formatter

In [87]:
fmt = format_and_pad('%.4f', 15)
fmt(1.756)

'         1.7560'

### Extended call syntax with *args, **kwargs

In [ ]:
a, b, c = args
d = kwargs.get('d', d_default_value) #kwargs는 사전으로 정의하는 것.
e = kwargs.get('e', e_default_value)

In [89]:
def say_hello_then_call_f(f, *args, **kwargs): #parameter에 *, **을 붙이면 여러개의 argument를 집어 넣을 수 있다.
    print ('args is', args)
    print ('kwargs is', kwargs)
    print("Hello! Now I'm going to call %s" % f)
    return f(*args, **kwargs)

def g(x, y, z=1):
    return (x + y) / z

In [90]:
say_hello_then_call_f(g, 1, 2, z = 5.) #z= 5. 은 key-value형태로 받는것.

args is (1, 2)
kwargs is {'z': 5.0}
Hello! Now I'm going to call <function g at 0x0000025C570F7C80>

0.6

In [97]:
say_hello_then_call_f(g, 1, 2, x =3, z = 10)

args is (1, 2)
kwargs is {'x': 3, 'z': 10}
Hello! Now I'm going to call <function g at 0x0000025C570F7C80>

TypeError: g() got multiple values for argument 'x'

In [94]:
x = (2, 3)
y = ['z': 3]

SyntaxError: invalid syntax (<ipython-input-94-8f69d23fc959>, line 2)

In [ ]:
g(*x, **y)

In [92]:
In [8]: say_hello_then_call_f(g, 1, 2, z=5.)
args is (1, 2)
kwargs is {'z': 5.0}
Hello! Now I'm going to call <function g at 0x2dd5cf8>
Out[8]: 0.6

SyntaxError: invalid syntax (<ipython-input-92-2a82cea75b2e>, line 4)

### Currying: partial argument application

In [ ]:
#argument를 고정

In [103]:
def add_numbers(x, y):
    return x + y

In [112]:
add_numbers(5, 10)
add_numbers(5, 12)
add_numbers(5, 20)

15

17

25

In [105]:
add_five = lambda y: add_numbers(5, y) #lambda 함수는 return이 생략되는것.

In [111]:
add_five(10)
add_five(12)
add_five(20)

15

17

25

In [113]:
from functools import partial
add_five = partial(add_numbers, 5)

In [114]:
add_five(5)

10

In [ ]:
# compute 60-day moving average of time series x = 60일의 이동평균을 구할때, 60을 고정!
ma60 = lambda x: pandas.rolling_mean(x, 60)

# Take the 60-day moving average of of all time series in data
data.apply(ma60)

### Generators

In [117]:
some_dict = {'a': 1, 'b': 2, 'c': 3}
for key in some_dict:
    print(key,)

a
b
c

In [118]:
dict_iterator = iter(some_dict)
dict_iterator

In [119]:
list(dict_iterator)

['a', 'b', 'c']

In [131]:
def squares(n=10):
    for i in range(1, n + 1):
        print( 'Generating squares from 1 to %d' % (n ** 2))
        yield i ** 2 #return과 다르게 yield는 요구할때, 그때그때 만들어주는 것이다.

In [132]:
def squares2(n=10):
    for i in range(1, n + 1):
        print( 'Generating squares from 1 to %d' % (n ** 2))
        return i ** 2 #return은 그냥 바로

In [133]:
gen = squares()
gen

In [134]:
gen2 = squares2()
gen2

Generating squares from 1 to 100

1

In [135]:
for i in gen:
    print(i)

Generating squares from 1 to 100
1
Generating squares from 1 to 100
4
Generating squares from 1 to 100
9
Generating squares from 1 to 100
16
Generating squares from 1 to 100
25
Generating squares from 1 to 100
36
Generating squares from 1 to 100
49
Generating squares from 1 to 100
64
Generating squares from 1 to 100
81
Generating squares from 1 to 100
100

In [139]:
In [4]: for x in gen:
   ...:     print (x,)
   ...:
Generating squares from 0 to 100
1 4 9 16 25 36 49 64 81 100

In [ ]:
def make_change(amount, coins=[1, 5, 10, 25], hand=None):
    hand = [] if hand is None else hand
    if amount == 0:
        yield hand
    for coin in coins:
        # ensures we don't give too much change, and combinations are unique
        if coin > amount or (len(hand) > 0 and hand[-1] < coin):
            continue

        for result in make_change(amount - coin, coins=coins,
                                  hand=hand + [coin]):
            yield result

In [ ]:
for way in make_change(100, coins=[10, 25, 50]):
    print way
len(list(make_change(100)))

#### Generator expresssions

In [151]:
gen = (x ** 2 for x in range(100))
gen

In [142]:
#list comprehension
list_comp = [x ** 2 for x in range(100)]
list_comp

[0,
 1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400,
 441,
 484,
 529,
 576,
 625,
 676,
 729,
 784,
 841,
 900,
 961,
 1024,
 1089,
 1156,
 1225,
 1296,
 1369,
 1444,
 1521,
 1600,
 1681,
 1764,
 1849,
 1936,
 2025,
 2116,
 2209,
 2304,
 2401,
 2500,
 2601,
 2704,
 2809,
 2916,
 3025,
 3136,
 3249,
 3364,
 3481,
 3600,
 3721,
 3844,
 3969,
 4096,
 4225,
 4356,
 4489,
 4624,
 4761,
 4900,
 5041,
 5184,
 5329,
 5476,
 5625,
 5776,
 5929,
 6084,
 6241,
 6400,
 6561,
 6724,
 6889,
 7056,
 7225,
 7396,
 7569,
 7744,
 7921,
 8100,
 8281,
 8464,
 8649,
 8836,
 9025,
 9216,
 9409,
 9604,
 9801]

In [147]:
def _make_gen():
    for x in range(100):
        yield x ** 2
gen = _make_gen()

In [152]:
list(gen)
list(gen2)

[0,
 1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400,
 441,
 484,
 529,
 576,
 625,
 676,
 729,
 784,
 841,
 900,
 961,
 1024,
 1089,
 1156,
 1225,
 1296,
 1369,
 1444,
 1521,
 1600,
 1681,
 1764,
 1849,
 1936,
 2025,
 2116,
 2209,
 2304,
 2401,
 2500,
 2601,
 2704,
 2809,
 2916,
 3025,
 3136,
 3249,
 3364,
 3481,
 3600,
 3721,
 3844,
 3969,
 4096,
 4225,
 4356,
 4489,
 4624,
 4761,
 4900,
 5041,
 5184,
 5329,
 5476,
 5625,
 5776,
 5929,
 6084,
 6241,
 6400,
 6561,
 6724,
 6889,
 7056,
 7225,
 7396,
 7569,
 7744,
 7921,
 8100,
 8281,
 8464,
 8649,
 8836,
 9025,
 9216,
 9409,
 9604,
 9801]

TypeError: 'int' object is not iterable

In [154]:
sum(x ** 2 for x in range(100))
dict((i, i **2) for i in range(5))

328350

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

#### itertools module

In [161]:
import itertools
first_letter = lambda x: x[0]

names = ['Alan', 'Adam', 'Wes', 'Will', 'Albert', 'Steven']

for letter, names in itertools.groupby(names, first_letter):
    print (letter, list(names)) # names is a generator

A ['Alan', 'Adam']
W ['Wes', 'Will']
A ['Albert']
S ['Steven']

## Files and the operating system

In [155]:
path = 'ch13/segismundo.txt'
f = open(path)

In [156]:
for line in f:
    pass

In [157]:
lines = [x.rstrip() for x in open(path)]
lines

['Sue챰a el rico en su riqueza,',
 'que m찼s cuidados le ofrece;',
 '',
 'sue챰a el pobre que padece',
 'su miseria y su pobreza;',
 '',
 'sue챰a el que a medrar empieza,',
 'sue챰a el que afana y pretende,',
 'sue챰a el que agravia y ofende,',
 '',
 'y en el mundo, en conclusi처n,',
 'todos sue챰an lo que son,',
 'aunque ninguno lo entiende.',
 '']

In [158]:
with open('tmp.txt', 'w') as handle:
    handle.writelines(x for x in open(path) if len(x) > 1)

open('tmp.txt').readlines()

['Sue챰a el rico en su riqueza,\n',
 'que m찼s cuidados le ofrece;\n',
 'sue챰a el pobre que padece\n',
 'su miseria y su pobreza;\n',
 'sue챰a el que a medrar empieza,\n',
 'sue챰a el que afana y pretende,\n',
 'sue챰a el que agravia y ofende,\n',
 'y en el mundo, en conclusi처n,\n',
 'todos sue챰an lo que son,\n',
 'aunque ninguno lo entiende.\n']

In [159]:
os.remove('tmp.txt')

NameError: name 'os' is not defined